:root{
    --primary-text-color:#626262;
    --navigation-color:#7D7D7D;
    --hover-color:#03A9F4;
    --style-images-color:#B4AD9E;
    --background-color:#E5E5E5;
}

html {
    box-sizing: content-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

ul,
p,
h1,
h2,
h3 {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
  text-decoration: none;
}

header{
    padding-top: 71px;
    padding-bottom: 92px;
}


.nav-list {
    display: flex;
    justify-content: center;

}

.nav-list .item:not(:first-child) {
    margin-left: 100px;
}

.nav-link{
        
        font-weight: 400;
            font-size: 14px;
            line-height: 19px;

        color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--hover-color);
}

.container{
    width: 920px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: auto;
    margin-right: auto;
    
}

.main-section .container {
    text-align: center;
}
/* h1{
    color: white;
} */
.main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-list .item {
    width: 420px;
}

.style-images{
    font-family: 'Ubuntu';

        font-weight: 300;
        font-size: 14px;
        line-height: 16px;

        color: var(--style-images-color);
}

.list-title{
    color: var(--primary-text-color);

    font-weight: 400;
        font-size: 30px;
        line-height: 40px;
}

.description{
    color: var(--primary-text-color);

    font-weight: 400;
        font-size: 14px;
        line-height: 19px;
}

.button {
    color: var(--primary-text-color);
    border: 1px solid #626262;

    margin-top: 62px;
    padding: 20px 48px;

    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
}
